[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/niossoft/hugo-theme-zzo.git
[submodule "themes/zzo-customized"]
	path = themes/zzo-customized
	url = https://github.com/niossoft/zzo-customized.git
[submodule "zzo-customized"]
	path = zzo-customized
	url = https://github.com/niossoft/zzo-customized.git
